<section class="page-wrapper" id="homepage">

	<div class="grid">
		<div class="grid__col-12">
			<h1>{{data.content.title}}</h1>
			<h2>{{yell data.content.title}}</h2>
		</div>
		<div class="grid__col-xs-6 grid__col-12">
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc et sagittis dui. Maecenas rhoncus justo aliquam urna finibus tincidunt et ut mauris.
				</p>
				<ul>
					<li class="icon facebook">{{{svgs.facebook}}}</li>
					<li class="icon twitter">{{{svgs.twitter}}}</li>
					<li class="icon google">{{{svgs.g-plus}}}</li>
				</ul>
		</div>
		<div class="grid__col-xs-6 grid__col-12">
			<p>
				Lorem ipsum ddsolor sit amet, consectetur adipiscing elit. Nunc et sagittis dui. Maecenas rhoncus justo aliquam urna finibus tincidunt et ut mauris.
			</p>
		</div>
</div>
</section>
