<section class="app-parade-detail full-size">

	<div class="o-grid">

		<div class="col-root-all-5 col-root-lg-6 col-root-md-12 parade-detail-container">

			<header>
				<div class="row">
					<a href="{{home.url}}" title="Google" class="main-logo dark">{{SVG.google_logo|raw}}</a>
					<ul class="navigation-header">
						<li class="navigation-item"><a href="{{home.url}}" class="home --f-regular14 --c-800-grey">{{ui.label_menu_home}}</a></li>
						<li class="navigation-item"><button class="about --f-regular14 --c-800-grey">{{ui.label_menu_about}}</button></li>
					</ul>
				</div>
			</header>

			<div class="parade-detail-wrapper off-root-all-1 off-root-r-all-1 h-event">

				<div class="parade-detail-main">
					<h2 class="--ff-parade-date --c-800-grey">
						{{dateObject.weekDay}}, {{dateObject.month}} {{dateObject.day}}, {{dateObject.year}}
						{% if hasPast == false %}
						<a class="calendar-icon" href="{{calendar_link}}" target="_blank">{{SVG.calendar_icon|raw}}</a>
						{% endif %}
					</h2>
					<h1 class="parade-detail-title --c-orange --ff-title p-name"> {{title}}
						{#{% if hasPast == false %}<span class="parade-detail-logo">{{SVG.pin_pride_logo|raw}}</span>{% endif %}#}
					</h1>
				</div>

				{% if hasPast == false %}
					<div class="parade-detail-location">

						<h3 class="parade-detail-headline-title --c-400-grey --f-uppercase-bold14">{{ui.parade_location}}</h3>

						{% if location.start %}
						<p class="--ff-parade-headline parade-headline --c-800-grey">
							{{ui.label_begins_at}} {{location.start}}
							{% if location.end %}<br/> {{ui.label_ends_at}} {{location.end}}{% endif %}
						</p>
						{% endif %}

						{% if description_copy %}
						<div class="parade-detail-infos">

							<h3 class="parade-detail-headline-title --c-400-grey --f-uppercase-bold14">{{ui.parade_info}}</h3>

							{% if headline_copy %}
								<p class="--ff-parade-headline parade-headline --c-800-grey">{{headline_copy | raw}}</span></p>
							{% endif %}

							{% if description_copy %}
								<p class="--ff-body body --c-500-grey">{{description_copy | raw}}</p>
							{% endif %}
						</div>
						{% endif %}

						{% if parade_website.url %}
							<a class="parade-detail-link --c-orange link" href="{{parade_website.url}}" target="_blank">{{parade_website.label}}</a><br/>
						{% endif %}

						{% if hasGif == true %}
							<div>
								<button class="--btn-std btn-show-up">{{ui.will_show_up}}</button>
							</div>
						{% endif %}

					</div>

				{% endif %}

				{% if hasPast == true %}

					<div class="parade-detail-past">

						{% if hotspots %}
							<ul class="hotspots-list">
							{% for hotspot in hotspots %}
								<li>
									<button hotspot-id="{{hotspot.id}}">
										{% if hotspot.type == 'Video' %}
											<span class="icon-container hotspot-video-icon">
												{#<span class="bg"></span>#}
												{#{{SVG.play_hotspot|raw}}#}
												<div class="thumbnail-card" style="background-image: url('{{hotspot.thumbnail.bg.lg.src}}=w96-h96');"></div>
											</span>
										{% elseif hotspot.type == 'Photo Story' %}
											<span class="icon-container hotspot-photo-icon">
												<span class="bg"></span>
												{{SVG.hotspot_photo|raw}}
											</span>
										{% elseif hotspot.type == 'Audio Story' %}
											<span class="icon-container hotspot-audio-icon">
												<span class="bg"></span>
												{{SVG.hotspot_audio|raw}}
											</span>
										{% endif %}
										<span class="label --ff-body --c-stack-grey">{{hotspot.title}}</span>
									</button>
								</li>
							{% endfor %}
							</ul>
						{% endif %}

						{% if headline_copy %}
							<p class="--ff-parade-headline parade-headline --c-800-grey">{{headline_copy}}</p>
						{% endif %}

						{% if description_copy %}
							<p class="--ff-body --c-500-grey">{{description_copy | raw}}</p>
						{% endif %}

					</div>

				{% endif %}

				{% if isFeatured %}
					<a class="--btn-std btn-next" href="{{nextCity.url}}">{{ui.next_city}} {{nextCity.info.label}}</a>
				{% endif %}

			</div>

			<footer>
				<nav>
					<a class="about-footer" href="{{footer.links.about.url}}" target="_blank">{{footer.links.about.label}}</a>
					<a class="privacy" href="{{footer.links.privacy.url}}" target="_blank">{{footer.links.privacy.label}}</a>
					<a class="terms" href="{{footer.links.terms.url}}" target="_blank">{{footer.links.terms.label}}</a>
				</nav>
			</footer>

		</div>

	</div>

	{#<div class="parade-detail-footer col-root-all-5"></div>#}

</section>
