<div>
    <div class="mini-map-path">
        <div class="route">
            <span class="pointer">
                {{SVG.bluedot|raw}}
            </span>
            <svg id="master-path" viewBox="0 0 28 650" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px">
             </svg>
        </div>
    </div>

    <nav id="mini-map">
        <div class="ctrl-label prev-label --f-regular12 --c-med-grey">{{ui.previous_parade}}</div>

        {% for city in cities %}
            <div class="route-segment {{city.info.params.id}}" data-city="{{city.info.params.id}}">

                <svg id="hotspot-path-{{city.info.params.id}}" class="hotspot-path" viewbox="0 0 28 340" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"></svg>
                <div id="mini-tooltip-container"></div>

                {{SVG[city.info.params.id]|raw}}

                <span class="ping"></span>
                <div class="tip">
                    <span class="--f-medium13">{{city.info.label}}</span>
                </div>
            </div>
        {% endfor %}

        <div class="ctrl-label next-label --f-regular12 --c-med-grey">{{ui.next_parade}}</div>
    </nav>
</div>
