<section id="experience">

	<!-- <button class="close">{{SVG.close_x|raw}}</button> -->
	<span class="overlay"></span>
	{#<span class="back">{{SVG.close_x|raw}} <p class="">{{ui.back_label}}</p></span>#}
	<div class="back-wrapper">
		<a class="--f-regular14 --c-white" href="#"><span class="back-icon">{{SVG.back_arrow|raw}}</span>{{ui.back_label}}</a>
	</div>
	<div class="experience-content-container">

	</div>

</section>
