<header class="o-grid">
	<div class="row">
		<div class="btn-menu" id="btn-menu">
			<span></span>
		</div>

		<a href="{{home.url}}" title="Google" class="logo main-logo">{{SVG.google_logo|raw}}</a>

		<ul class="navigation-header">
			<li class="navigation-item home"><a href="{{home.url}}" class="home --f-regular14 --c-white">{{ui.label_menu_home}}</a></li>
			<li class="navigation-item"><button class="about --f-regular14 --c-white">{{ui.label_menu_about}}</button></li>
		</ul>
	</div>
</header>
