
<section class="modal search-modal">

	<div class="bg-container">
		<span class="overlay"></span>
		<!-- <span class="bg IMAGE_TYPE">
			<img data-width="{{asset.dimensions.width}}" data-height="{{asset.dimensions.height}}" src="{{asset.src}}" role="presentation">
			<img data-width="1440" data-height="810" src="./../../static/gpride/img/dummy/bg-search.png" role="presentation">
		</span> -->
	</div>

	<button class="close">{{SVG.close_x|raw}}</button>

	<a href="{{home.url}}" title="Google" class="main-logo dark">{{SVG.google_logo|raw}}</a>

	<div class="search-container o-grid">

		<h1 class="off-abs-all-1 main-title">
			<span class="icon">{{SVG.pin_pride_logo|raw}}</span>
			<!-- <span class="label --ff-find-your-pride --c-dark-grey">{{ui.label_find_your_parade}}</span> -->
		</h1>
		<div class="row off-root-r-all-1 offset-root-content">
			<form action="#" method="get" class="col-all-12">
				<div class="input-container">
					<input type="search" autocomplete="off" name="search" value="" autofocus="true" class="--ff-search --c-dark-grey" />
					<span class="placeholder --ff-search">{{placeholder}}</span>
					<!-- <span class="border"></span> -->
				</div>
				<button type="submit">{{SVG.search_arrow|raw}}</button>
			</form>
			<div class="results-container col-all-12">
				<!-- result -->
				<h2 class="near-result">
					<span class="--ff-search-label label --c-med-grey">{{label_pride_parades_near}}</span>
					<!-- <span class="current-search --ff-date --c-dark-grey"></span> -->
				</h2>
				<ul class="list o-grid">
				</ul>

				<!-- Experience -->
				<h2 class="near-result-experience">
					<span class="--ff-search-label label --c-med-grey">{{label_pride_parades_experience}}</span>
					<!-- <span class="current-search --ff-date --c-dark-grey"></span> -->
				</h2>
				<ul class="list-experience o-grid">
				</ul>

				<!-- result NGOs -->
				<h2 class="near-result-ngos">
					<span class="--ff-search-label label --c-med-grey">{{label_ngos_near}}</span>
				</h2>
				<ul class="list-ngos o-grid">
				</ul>

			</div>
		</div>
	</div>

</section>
