<div class="step02-wrapper">

    <div class="step02-image-container">
        <img src="{{mainGif}}" alt="">
    </div>

    <div class="step02-socials-wrapper">
        <p class="--c-cool-grey --f-uppercase-bold14 social-label">{{share_label}}</p>
        <ul class="">
            <li class="social-item twitter"><a share-id="twitter" share-url="" share-hashtags="ishowup" href="">{{SVG.twitter|raw}}</a></li>
            <li class="social-item facebook"><a share-id="facebook" share-url="https://dev-dot-gweb-pride.appspot.com" href="">{{SVG.facebook|raw}}</a></li>
            <li class="social-item download"><a href="{{mainGif}}" target="_blank">{{SVG.download|raw}}</a></li>
        </ul>
    </div>

</div>
