<section class="modal about-modal">

	{#<div class="modal-overlay"></div>#}

	<div class="about-modal-wrapper">

		<button class="close">{{SVG.close_x|raw}}</button>

		<a href="{{home.url}}" title="Google" class="main-logo dark">{{SVG.google_logo|raw}}</a>

		<div class="o-grid about-modal-container">

			<h1 class="--ff-title --c-charcoal-grey">{{title}}</h1>
			<h3 class="--ff-about-subhead --c-charcoal-grey">{{subtitle}}</h3>

			<div class="col-md-12 off-gutter-modal-1 off-lg-1 off-md about-modal-video mobile">
				<div class="about-modal-video-wrapper">
					<iframe width="560" height="315" src="https://www.youtube.com/embed/{{youtube_id}}?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
				</div>
			</div>

			<div class="row about-modal-content">
				<div class="about-modal-content-wrapper col-gutterincluded-modal-5 col-gutterincluded-lg-5 col-gutterincluded-md-10 col-gutterincluded-sm-10 off-lg-1 off-md-1 off-sm-1">
					<p class="--c-stack-grey --ff-body">{{body}}</p>
				</div>
				<div class="col-modal-6 col-gutterincluded-lg-4 col-md-12 off-gutter-modal-1 off-lg-1 off-md about-modal-video">
					<div class="about-modal-video-wrapper">
						<iframe width="560" height="315" src="https://www.youtube.com/embed/{{youtube_id}}?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
					</div>
				</div>
			</div>

			<div class="o-grid about-modal-table-wrapper">
				<h2 class="--ff-quote --c-charcoal-grey">{{ better_ally_title }}</h2>
				<div class="row about-modal-table">
					{% for ally_item in better_ally_item %}
			    	<li class="--c-stack-grey numbered about-modal-item">{{ ally_item.body|e }}</li>
			    {% endfor %}
				</div>
			</div>

			<div class="ngo-info">
				{% for item in ngo_item|slice(0, 1) %}
					<a href="http://{{ item.url }}" target="_blank">
						<img src="{{ item.logo }}" alt="{{ item.name }}" />
					</a>
					<div class="ngo-info-copy">
						<a href="http://{{ item.url }}" target="_blank" class="ngo-link --c-flag-blue --ff-about-link">{{ item.url }}</a>
						<p class="--c-stack-grey">{{ item.description }}</p>
					</div>
			</div>

			<h4 class="ngo-label --ff-ngos --c-charcoal-grey">{{ other_NGO_label }}</h4>
			{% endfor %}

			<div class="o-grid about-modal-table-wrapper-resources">
				<div class="row about-modal-table">
					<div class="row ngo-images">
						{% for item in ngo_item|slice(1, 4) %}
							<li class="--c-stack-grey about-modal-image">
								<a href="http://{{ item.url }}" target="_blank">
									<img src="{{ item.logo }}" alt="{{ item.name }}" />
								</a>
							</li>
						{% endfor %}
					</div>
					{% for item in ngo_item|slice(1, 4) %}
						<li class="--c-stack-grey about-modal-item">
							<a href="http://{{ item.url }}" target="_blank">
								<img src="{{ item.logo }}" alt="{{ item.name }}" />
							</a>
							<a href="http://{{ item.url }}" target="_blank" class="ngo-link --c-flag-blue --ff-about-link">{{ item.url }}</a>
							<p class="--c-stack-grey">{{ item.description }}</p>
						</li>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</section>
