<footer>
	<nav>
		<a class="about" href="{{links.about.url}}" target="_blank">{{links.about.label}}</a>
		<a class="privacy" href="{{links.privacy.url}}" target="_blank">{{links.privacy.label}}</a>
		<a class="terms" href="{{links.terms.url}}" target="_blank">{{links.terms.label}}</a>
	</nav>
</footer>
