<section class="homepage-intro-page">
	<div class="bg-container">
		<span class="overlay"></span>
		<span class="bg {{asset.type}}">
			{% if asset.isVideo %}
				<video  width="100%" height="100%" controls="false" loop="true" autoplay="true">
					<source src="{{asset.src}}" type="video/mp4">
				</video>
			{% endif %}

			{% if asset.isImage %}
				<img data-width="{{asset.dimensions.width}}" data-height="{{asset.dimensions.height}}" src="{{asset.src}}" role="presentation">
			{% endif %}
		</span>
	</div>

	<div class="o-grid text-container">
		<div class="row offset-root-content">
			<div class="col-root-all-6 col-root-lg-6 col-root-md-9 col-root-sm-12">
				{% if date %}<time datetime="{{dateObject.year}}-{{dateObject.nbMonth}}-{{dateObject.nbDay}}" class="--c-white --ff-date date">{{dateObject.month}} {{dateObject.day}} {{dateObject.year}}</time>{% endif %}
				<h1 class="--ff-main-title --c-white title">{{title}}</h1>
				{% if author %}
					<!-- <small class="--ff-author --c-white author">{{author}}</small> -->
					<q class="--ff-quote --c-white quote main-description">{{description}}</q>
				{% else %}
					<p class="--ff-subhead --c-white description main-description">{{description}}</p>
				{% endif %}
			</div>
			<div class="reset-mg-inline ctas col-all-12">
				{% if has_experience and hasPast %}
					<a href="{{route.url}}" class="--btn-std trailer">{{label_explore}}</a>
				{% elseif isLandingPage == false %}
					<a href="{{route.url}}" class="--btn-std learn-more">{{label_learn_more}}</a>
				{% else %}
					<button class="--btn-std find-your-parade">{{ui.label_find_your_parade}}</button>
				{% endif %}
			</div>
		</div>
	</div>

	<div class="down-arrow-container">
		<div class="down-arrow-wrapper">
			{% if isLandingPage == false %}
			<p class="--ff-down-arrow --c-white next-city">{{ui.next_city}} </p>
			{% endif %}
			<span class="down-arrow">{{SVG.down_arrow | raw}}</span>
		</div>
	</div>

</section>
